# Byte-compiled / cache
_pycache_/
*.py[cod]
*.pyo

# Virtual env
venv/
.env
env/

# VSCode
.vscode/

# Python packaging
dist/
build/

# Uploads and temp


# Firebase service account (DO NOT commit!)
serviceAccountKey.json

# OS files
.DS_Store
Thumbs.db